@{
    ViewData["Title"] = "Support";
}

<h2>@ViewData["Title"]</h2>
<p>Need help? Reach out!</p>

<address>
    <strong>Support:</strong> <a href="mailto:Support@solrspf.com">Support@solrspf.com</a><br />
</address>