@model Website.Models.ExplainViewModels.ExplainListingViewModel

@{
    ViewData["Title"] = "Public Explains";
}

<h1>Public Explains</h1>

<br />

<!-- Record listing -->
@Html.Partial("_ExplainListing", Model)
